<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bird.service.zero.mapper.RoleMapper">

    <select id="getRolePermissionIds" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT DISTINCT `id` FROM `zero_permission` WHERE `key` IN (SELECT `permissionName` FROM `zero_role_permission` WHERE `roleId` = #{roleId})
    </select>

    <delete id="deleteRolePermissions" parameterType="java.lang.Long">
        DELETE FROM `zero_role_permission` WHERE `roleId` = #{roleId}
    </delete>

    <insert id="setRolePermissions" parameterType="com.bird.service.zero.dto.RolePermissionDTO">
      INSERT INTO `zero_role_permission` (`roleId`,`permissionName`,`createTime`)
        SELECT #{dto.roleId},`Key`,now() FROM `zero_permission` WHERE `id` IN
            <foreach item="item" collection="dto.permissionIds" open="(" separator="," close=")">
              #{item}
            </foreach>
    </insert>

</mapper>