<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bird.service.zero.mapper.SiteMapper">
    <select id="getUserClients" parameterType="java.lang.Long" resultType="com.bird.core.sso.client.ClientInfo">
       SELECT `name` AS 'clientName',`host`,`loginNotifyUrl` FROM `zero_site` WHERE `id` in (SELECT `siteId` FROM `zero_user_site` WHERE `userId` = #{userId})
    </select>
</mapper>