<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bird.service.zero.mapper.MenuMapper">

    <select id="getMenuTreeData" resultType="com.bird.core.service.TreeDTO">
        SELECT `id` AS `value`,`name` AS `text`,`parentId` AS `parentValue` FROM `zero_menu` WHERE delFlag = 0
    </select>
</mapper>