<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="com.bird"/>

    <!--添加配置文件-->
    <bean class="com.bird.core.utils.PropertiesHelper">
        <property name="locations">
            <list>
                <value>classpath:system.properties</value>
            </list>
        </property>
    </bean>

    <!--配置单点登陆组件-->
    <!--配置用户可登录站点存储器-->
    <bean id="userClientStore" class="com.bird.security.BirdUserClientStore" />
    <!--配置权限检查器-->
    <bean id="permissionChecker" class="com.bird.security.BirdUserPermissionChecker" />
    <!--配置票据信息存储器-->
    <bean id="ticketSessionStore" class="com.bird.core.sso.ticket.RedisTicketSessionStore"/>
    <!--配置票据加密器-->
    <bean id="ticketProtector" class="com.bird.core.sso.ticket.DesTicketProtector">
        <property name="key" value="${sso.des.key}"></property>
        <property name="salt" value="${sso.des.salt}"></property>
    </bean>
    <bean id="ssoAuthorizeManager" class="com.bird.core.sso.SsoAuthorizeManager">
        <property name="cookieName" value="${sso.cookieName}"></property>
        <property name="loginPath" value="${sso.loginPath}"></property>
        <property name="protector" ref="ticketProtector"></property>
        <property name="userClientStore" ref="userClientStore"></property>
        <property name="userPermissionChecker" ref="permissionChecker"></property>
        <property name="sessionStore" ref="ticketSessionStore"></property>
    </bean>

    <import resource="classpath*:spring/bird-core-beans.xml" />
    <import resource="classpath*:dubbo/dubbo.xml" />
</beans>